<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping house</title>
    <link rel="stylesheet" href="./css/index.css">
     <script defer src="../js/index.js"></script>
    <script defer src="../js/style.js"></script>
</head>
<body>
    <div class="menu">
        <button onclick="enableAuthorization()" class="profile">Профиль</button>
        <div id="myProfile" class="profile-content">
                <a href="./html/sign-up.html">Регистрация</a>
                <a href="./html/sign-in.html">Вход</a>
                 <a href="/user/personal-cabinet">Личный кабинет</a>
        </div>
        <select id="filters">
            <option value="">Категория</option>
            <option value="accesories">Аксессуары</option>
            <option value="clothes">Одежда</option>
            <option value="cosmetics">Косметика</option>
            <option value="presents">Подарки</option>
            <option value="stationery">Канцелярия</option>
        </select>
        <input type="text" id="search" placeholder="поиск 🔍︎">
</div>
    <div class="items-container">
        {{#each items}}
            {{#with .}}
                <div class="item-container">
                    <img class="item-img" src={{itemImg}}>
                    <p class="price">{{price}} руб</p>
                    <p class="retailer">{{retailer}}</p>
                    <p class="itemName">{{itemName}}</p>
                    <div class="cont">
                        <p class="rating">{{rating}}⭐</p>
                        <p class="sales">{{sales}}🛒</p>
                    </div>
                    
                    <button class="button-cart" onclick="addToCart()">В корзину</button>
                </div>
            {{/with}}
        {{/each}}
    </div>
    
</body>
</html>